[Desktop Entry]
Version=1.0
Type=Link
Name=informacoesGlobais.js
Comment=
Icon=user-bookmarks
URL=https://github.com/jaoa3103/Rede-sociais/blob/main/informacoesGlobais.js
