[Desktop Entry]
Version=1.0
Type=Link
Name=quantidadeUsuarios.js
Comment=
Icon=user-bookmarks
URL=https://github.com/jaoa3103/Rede-sociais/blob/main/quantidadeUsuarios.js
